<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8"/>
        <title>products</title>
        <link rel="stylesheet" href="/public/css/style.css"/>
    </head>
    <body>
        <header>
            <!-- ナビゲーションリンクをnavタグでグループ化 -->
            <nav class="header-nav" role="navigation" aria-label="global navigation">
                <div class="logo">
                <a href="/">TakahashiYuto's Portfolio</a>
                </div>
                <div class="nav-items">
                <a href="/products">一覧</a>
                <a href="/cart">カート</a>
                <a href="/login">ログイン</a>
                </div>
            </nav>

        </header>
        <div class="container">
        <!-- asideタグでサイドバーを明確化 -->
            <aside class="sidebar" role="complementary" aria-label="category list">
                <h3>カテゴリー </h3>

                <!-- JavascriptのforEachでcategoriesを表示 -->
                <% const categories = [
                    {id: 1, name: 'Tシャツ'}, 
                    {id: 2, name: 'ワイシャツ'}, 
                    {id: 3, name: 'ズボン'}
                ]; %>
                <ul>
                    <% categories.forEach((category) => { %>
                        <li><%= category.name %></li>
                    <% }); %>
                </ul>
            </aside>

        <!-- メインコンテンツ -->
            <main role="main">
                <h2>商品一覧</h2>

                <!-- JavascriptのforEachでProductsを表示 -->
                <div class="products-grid">
                <% products.forEach(p => { %>
                        <div class="product-card">
                            <h2 class="card-title"><%= p.name %></h2>
                            <p class="muted">詳細: <%= p.description || "" %></p>
                            <div>価格: ¥<%= p.price %></div>
                            <div class="<%= p.stock > 0 ? 'ok' : 'ng' %>">在庫: <%= p.stock %></div>
                            <form class="add-form" action="/cart/add" method="POST">
                                <input type="hidden" name="productId" value="<%= p.id %>">
                                <input class="qty" type="number", name="qty" value="1" min="1" max="99">
                                <button type="submit" <%= p.stock <= 0 ? "disabled" : "" %>Add</button>
                            </form>
                        </div>
                <% }) %>
                </div>
            </main>
        </div>

        <footer>
            <p>&copy; 2026 Yuto Takahashi All Rights Reserved.</p>
        </footer>
    </body>
</html>